<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>Burger2Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="/css/main.css" rel="stylesheet"  type="text/css" />
    
    
    
  </head>

  <body>

    <!-- NAVIGATION -->
    <header class="container">
      <div class="nav">
          <img src="/css/Burger logo.png" alt="logo Burger2Home">
        <div class="menu">
          <ul>
            <li><a href="/clients">Client</a></li>
            <li><a href="/ingredient">Ingrédients</a></li>
            <li><a href="/allergene">Allergènes</a></li>
            <li><a href="/commande">Commande</a></li>
            <li><a href="/burger">Burgers</a></li>
          </ul> 
         </div>
      </div>

    </header>

    <main class="container">

